 <div class="container-fluid" style="margin:0 auto;">
  <h1>Articulos</h1>
   <div class="row">
   <%= render @articles %>       
  </div>
 </div>
  
<div class="top-space text-center">
  <div style="margin-top: 1em">
    <%= will_paginate @articles %>
  </div>
</div>


